@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  background-color: #f7f7f7;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

sub {
  vertical-align: sub;
}

#toTop {
  z-index: 90;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}

body {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.heroBanner {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 380px;
  background-image: url(../images/icon/bg.png);
  background-size: cover;
}

.header {
  text-align: center;
}

.header__h1 {
  padding: 80px 0 90px;
  color: #fff;
  font-size: 40px;
}

.header__select {
  padding: 15px 0 12px;
  width: 452px;
  font-size: 20px;
  text-indent: 6px;
  border-radius: 3px;
  border: 3px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/icon/down.svg) no-repeat rgba(255, 255, 255, 0.7) right;
}

@media only screen and (max-width: 768px) {
  .header__select {
    width: 95%;
  }
}

.header__hotZone {
  margin: 70px auto 49px;
  padding: 20px 26px 18px 26px;
  width: 800px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px #00000020;
          box-shadow: 0 4px 8px #00000020;
}

@media only screen and (max-width: 992px) {
  .header__hotZone {
    width: 95%;
  }
}

.header__hotZone h2 {
  margin-bottom: 14px;
  font-size: 18px;
  text-align: left;
}

.header__hotZone__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .header__hotZone__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 24px;
  }
}

.header__hotZone__list li {
  padding: 11px 34px;
  margin-right: 23px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.header__hotZone__list li:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

@media only screen and (max-width: 768px) {
  .header__hotZone__list li {
    padding: 20px;
    margin: 0 0 10px;
    width: 100%;
  }
}

.header__hotZone__list li:last-child {
  margin-right: 0;
}

.header__hotZone__list .distLingya {
  background-color: #8A82CC;
}

.header__hotZone__list .distSanmin {
  background-color: #FFA782;
}

.header__hotZone__list .distDashu {
  background-color: #F5D005;
}

.header__hotZone__list .distZuoying {
  background-color: #559AC8;
}

.header__divider {
  position: relative;
  margin: 0 auto 76px;
  width: 900px;
  border-bottom: 1px dashed #559AC8;
}

@media only screen and (max-width: 992px) {
  .header__divider {
    width: 95%;
  }
}

.main {
  text-align: center;
  margin-bottom: 33px;
}

.main__h2 {
  margin-bottom: 24px;
  font-size: 36px;
  color: #8A82CC;
}

.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 944px;
}

@media only screen and (max-width: 992px) {
  .main__list {
    width: 95%;
  }
}

.card {
  margin-bottom: 46px;
  width: 464px;
}

@media only screen and (max-width: 992px) {
  .card {
    width: 100%;
  }
}

.card__info {
  height: 220px;
  padding: 18px 24px 20px 24px;
  text-align: left;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px #00000020;
          box-shadow: 0 4px 8px #00000020;
}

@media only screen and (max-width: 992px) {
  .card__info {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .card__info {
    padding: 18px 12px 20px 12px;
  }
}

.card__info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.card__info li img {
  margin-right: 10px;
}

.card__info li:last-child {
  margin-bottom: 0;
}

.card__photo {
  position: relative;
  height: 155px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card__photo__zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.54)));
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 100%);
}

.card__photo__zone h3 {
  padding: 14px 0 14px 24px;
  font-size: 24px;
}

.card__photo__zone p {
  padding: 24px 19px 11px 0;
}

.arrow {
  position: absolute;
  top: -12px;
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  color: #559AC8;
  background-color: #f7f7f7;
  border-radius: 50%;
  border: 1px solid #559AC8;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
}

.page__prevNext {
  padding: 8px;
  margin: 0 18px;
  color: #4A4A4A;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page__prevNext:hover {
  color: rgba(74, 74, 74, 0.5);
}

.page__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__number li {
  padding: 8px;
  margin-right: 8px;
  color: #4A4A4A;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page__number li:hover {
  color: #559AC8;
}

.page__number li:last-child {
  margin-right: 0;
}

.footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #559AC8;
}

.footer__source {
  padding-top: 15px;
  color: #FFD366;
}
/*# sourceMappingURL=main.css.map */