@import "variable"; //字級、顏色、速度
@import "reset"; //Reset、初始設定
@import "mixin"; //Flex、@media
@import "common"; //此專案通用、toTop、按鈕

.heroBanner {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 380px;
  background-image: url(../images/icon/bg.png);
  background-size: cover;
}

.header {
  text-align: center;

  &__h1 {
    padding: 80px 0 90px;
    color: #fff;
    font-size: 40px;
  }

  &__select {
    padding: 15px 0 12px;
    width: 452px;
    font-size: 20px;
    text-indent: 6px;
    border-radius: 3px;
    border: 3px solid #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/icon/down.svg) no-repeat rgba(255, 255, 255, 0.70) right;

    @include mobile {
      width: 95%;
    }
  }

  &__hotZone {
    margin: 70px auto 49px;
    padding: 20px 26px 18px 26px;
    width: 800px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px #00000020;

    @include pad {
      width: 95%;
    }

    h2 {
      margin-bottom: 14px;
      font-size: $fz-m;
      text-align: left;
    }

    &__list {
      @include disFlex;
      font-size: 20px;
      font-weight: $fw-m;
      color: #fff;

      @include mobile {
        flex-wrap: wrap;
        font-size: $fz-s * 1.5;
      }

      li {
        padding: 11px 34px;
        margin-right: 23px;
        border-radius: 5px;
        transition: $trsFast;
        cursor: pointer;

        &:hover {
          filter: brightness(120%);
        }

        @include mobile {
          padding: 20px;
          margin: 0 0 10px;
          width: 100%;
        }
      }

      li:last-child {
        margin-right: 0;
      }

      .distLingya {
        background-color: #8A82CC;
      }

      .distSanmin {
        background-color: #FFA782;
      }

      .distDashu {
        background-color: #F5D005;
      }

      .distZuoying {
        background-color: #559AC8;
      }
    }
  }

  &__divider {
    position: relative;
    margin: 0 auto 76px;
    width: 900px;
    border-bottom: 1px dashed #559AC8;

    @include pad {
      width: 95%;
    }
  }
}

.main {
  text-align: center;
  margin-bottom: 33px;

  &__h2 {
    margin-bottom: 24px;
    font-size: $fz-m *2;
    color: #8A82CC;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 944px;

    @include pad {
      width: 95%;
    }
  }
}

.card {
  margin-bottom: 46px;
  width: 464px;

  @include pad {
    width: 100%;
  }

  &__info {
    height: 220px;
    padding: 18px 24px 20px 24px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 4px 8px #00000020;
    @include pad{
      height: auto;
    }

    @include mobile {
      padding: 18px 12px 20px 12px;
    }

    li {
      @include disFlex($jc: left);
      margin-bottom: 16px;

      img {
        margin-right: 10px;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  &__photo {
    position: relative;
    height: 155px;
    color: #fff;
    background-size: cover;
    background-position: center;

    &__zone {
      @include disFlex($jc: space-between);
      position: absolute;
      bottom: 0;
      width: 100%;
      background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.54) 100%);

      h3 {
        padding: 14px 0 14px 24px;
        font-size: 24px;
      }

      p {
        padding: 24px 19px 11px 0;
      }
    }
  }
}

.arrow {
  position: absolute;
  top: -12px;
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  color: #559AC8;
  background-color: #f7f7f7;
  border-radius: 50%;
  border: 1px solid #559AC8;
}

.page {
  @include disFlex;
  margin-bottom: 40px;
  font-size: 14px;

  &__prevNext {
    padding: 8px;
    margin: 0 18px;
    color: #4A4A4A;
    cursor: pointer;
    transition: $trsFast;

    &:hover {
      color: rgba(74, 74, 74, 0.50);
    }
  }

  &__number {
    @include disFlex;

    li {
      padding: 8px;
      margin-right: 8px;
      color: #4A4A4A;
      cursor: pointer;
      transition: $trsFast;

      &:hover {
        color: #559AC8;
      }
    }

    li:last-child {
      margin-right: 0;
    }
  }
}

.footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #559AC8;

  &__source {
    color: #FFD366;
  }
}